@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-custom-dark-1 font-normal text-sm md:text-base bg-white max-w-7xl m-auto;
}

h3 {
  @apply text-lg font-bold md:text-xl;
}

p {
  @apply text-sm font-light md:text-base;
}

button.primary {
  @apply bg-custom-blue text-white rounded-lg px-16 py-3 disabled:opacity-40 transition-colors duration-200;
  &:hover:not(:disabled) {
    @apply bg-stone-500;
  }
}

button.secondary {
  @apply rounded-lg py-1 transition-colors duration-200;
  &:hover:not(:disabled) {
    @apply text-stone-800;
  }
}

input:focus {
  outline: none;
}

form {
  @apply overflow-hidden;
}
